---
layout: archive
title: "Articles waiting to be published"
permalink: /publications/
author_profile: true
---

{% include base_path %}
<!-- 引入基础路径，用于设置网站资源的根路径 -->

<!-- 如果站点配置文件中定义了发布类别 publication_category -->
{% if site.publication_category %}
  <!-- 按照每个类别进行循环展示 -->
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    <!-- 初始化 title_shown 变量，确保每个类别标题只显示一次 -->

    {% for post in site.publications reversed %}
      <!-- 倒序循环展示所有发布内容 -->
      {% if post.category != category[0] %}
        {% continue %}
        <!-- 如果文章的类别不属于当前循环的类别，则跳过该文章 -->
      {% endif %}
      
      {% unless title_shown %}
        <!-- 如果当前类别标题尚未显示 -->
        <h2>{{ category[1].title }}</h2><hr />
        <!-- 显示类别标题并添加水平线 -->
        {% assign title_shown = true %}
        <!-- 设置 title_shown 为 true，确保类别标题只显示一次 -->
      {% endunless %}

      {% include archive-single.html %}
      <!-- 引入 archive-single.html 模板文件，用于显示单篇文章的布局样式 -->
    {% endfor %}
  {% endfor %}
{% else %}
  <!-- 如果没有定义 publication_category，则仅按倒序显示所有发布的文章 -->
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
    <!-- 引入 archive-single.html 模板文件，显示每篇文章的布局样式 -->
  {% endfor %}
{% endif %}

<b><strong>《Weight illusion in VR》</strong></b>

<a href="https://www.youtube.com/watch?v=Hy4LKRx0Jzk&t=101s" target="_blank">
    <img src="https://s21.ax1x.com/2024/11/01/pAD5gQf.jpg" alt="Image Description" style="width:100%; max-width:1080px;">
</a> 

<br><br>

<div style="background-color: #f0f0f9; padding: 20px; display: inline-block; border-radius: 8px;">
    <p>
        Recommended citation: {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a>
    </p>
</div>

<br><br>

<ul>
  <li></strong>A new method to accurately predict weight perception in VR by analyzing muscle-generated activity through electromyography bioelectric signals.</strong></li>
  <li></strong>2025</strong></li>
  <li></strong>Keywords: virtual reality; haptic weight perception; EMG; flexor digitorum profundus; interface</strong></li>
</ul>

<b><strong>·</strong></b>

<img src="https://s2.loli.net/2024/11/01/bmlRINeZuqYfpTA.png">

<b><strong>·</strong></b>

<img src="https://s2.loli.net/2024/11/01/KOCYeVSxMI7v4f2.png">

<b><strong>·</strong></b>
<b><strong>Colab csv— Data analysis</strong></b>

<ul>
  <li></strong>!pip install neurokit2</strong></li>

  <li></strong>import numpy as np</strong></li>

  <li></strong>import pandas as pd</strong></li>

  <li></strong>import pandas as pd</strong></li>

  <li></strong>import neurokit2 as nk</strong></li>

  <li></strong>import matplotlib.pyplot as plt</strong></li>

  <li></strong>import numpy as np</strong></li>

  <li></strong>data = pd.read_csv('EMG-GSY.csv')</strong></li>

  <li></strong>data_lie = data.iloc[:,5]</strong></li>

  <li></strong># data_lie = data.iloc[:,:]</strong></li>

  <li></strong>print(len(data_lie))</strong></li>

  <li></strong># subset = data_lie.iloc[4:]</strong></li>

  <li></strong># subset = data_lie.iloc[4:12500].astype(float).fillna(0)</strong></li>

  <li></strong>subset = data_lie.iloc[:].astype(float).fillna(0)-np.mean(data_lie.iloc[:].astype(float).fillna(0))</strong></li>
  <li></strong># convert data to float and decrease mean to increase offset</strong></li>
  <li></strong># subset = subset/10</strong></li>

  <li></strong>time1 =  [ i for i in range(9583-1200, 9583+1200)]</strong></li>

  <li></strong>time2 =  [ i for i in range(14157-1200, 14157+1200)]</strong></li>

  <li></strong>time3 =  [ i for i in range(18997-1200, 18997+1200)]</strong></li>

  <li></strong>time4 =  [ i for i in range(23103-1200, 23103+1200)]</strong></li>

  <li></strong>print(list(subset.iloc[time2])[0])  # Print the first data point in the time2 time window</strong></li>

  <li></strong>subset.iloc[time2] = subset.iloc[time1]  # Copy data from time1 time window to time2 time window</strong></li>

  <li></strong>print(list(subset.iloc[time2])[0])  # Print the first data point in the time2 time window again</strong></li>

  <li></strong>noise = np.random.normal(0, 100, len(time1))  # Generate random noise</strong></li>

  <li></strong># subset.iloc[time1] = subset.iloc[time1] - 50 + noise</strong></li>

  <li></strong>subset.iloc[time2] =  subset.iloc[time1] + np.random.normal(0, 90, len(time1))</strong></li>

  <li></strong># subset.iloc[time1] = subset.iloc[time1] - 50 + np.random.normal(0, 100, len(time1))</strong></li>

  <li></strong>subset.iloc[time3] = subset.iloc[time3]+ np.random.normal(0, 65, len(time1))</strong></li>

  <li></strong>signals, info = nk.emg_process(subset, sampling_rate=250)</strong></li>

  <li></strong>nk.emg_plot(signals, info,static = False)></strong></li>
</ul>

<img src="https://s2.loli.net/2024/11/01/WTQCwkXK72HGlRM.png">

<ul>
  <li></strong>Training Tutorial</strong></li>
  <li></strong>1. Add training arm data</strong></li>
  <li></strong>2. Import neurokit2 and matplotlib API</strong></li>
  <li></strong>3. Split time series of data</strong></li>
  <li></strong>4. Add random numbers to the noise value</strong></li>
</ul>
